.table {
	margin: 0 auto;
	margin-top: 50px;
	width: 90%;
    overflow-x: auto;
}

table {
	border-collapse: collapse;
    width: 100%;
}

table th, table td {
	border: 1px solid #666666; 
}

.fields th {
	padding: 0 5px; 
}

table td {
	text-align: center;
	cursor: pointer;
}

a {
	color: black;
	text-decoration: none;
}
